body{
    /* background:url("itachi.jpg"); */
    /* background-color: rgb(221, 230, 141); */
    /* background-repeat: repeat-x; */
    background: linear-gradient(#70a7e2 , #021a35 );
    text-align: justify;

    /* background: linear-gradient(
        to top,
        rgb(204, 229, 255)
        rgba(202, 229, 255, 0.4)
    );
    font-size: 1.em;
    text-align: justify; */
}
.heading1{
    color: whitesmoke;
    background-color: red;
    /* padding-left: 35%; */
    text-align: center;

}
#heading2{
    color: red;
    /* padding-left: 40%; */
    text-align: center;
    background-color: yellowgreen;
}

p{
    color: whitesmoke;
    /* background-color: black; */
    font-size: larger;
}